<a href="https://colab.research.google.com/github/SMNahianIslam/locked-in/blob/main/Intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
weatherForecast =
type(weatherForecast)

bool

In [8]:
weatherForecast = "77"
type(weatherForecast)

str

In [9]:
s = float (weatherForecast)

In [10]:
type (s)

float

In [17]:
# Station information
station_name = "Dhaka Kamrangirchor"
station_id = 696969

# An example temperature with many decimals
temp = 69.9988999999999

# 1. The f-string approach (recommended)
info_text = (
    f"The temperature at {station_name} (ID: {station_id}) is {temp:.1f} Celsius."
)

print(info_text)

The temperature at Dhaka Kamrangirchor (ID: 696969) is 70.0 Celsius.

In [19]:
european_cities = ["Amsterdam", "Brussels", "Lisbon", "Reykjavik"]
for city in european_cities:
    print(city)

Amsterdam
Brussels
Lisbon
Reykjavik

In [25]:
for i in range("I l):
    print(i)

TypeError: 'str' object cannot be interpreted as an integer

In [27]:
for _ in range(100):
    print("I love you")

I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you
I love you

In [28]:
african_cities = ["Dakar", "Addis Ababa", "Nairobi", "Cairo", "Rabat", "Kampala"]
for i in range(len(african_cities)):
    print(f"{african_cities[i]} is at index {i} in the list.")

Dakar is at index 0 in the list.
Addis Ababa is at index 1 in the list.
Nairobi is at index 2 in the list.
Cairo is at index 3 in the list.
Rabat is at index 4 in the list.
Kampala is at index 5 in the list.

In [29]:
odd_numbers = [1, 3, 5, 7, 9]
even_numbers = [10, 4, 6, 8, 2]
for i in range(len(odd_numbers)):
    print(odd_numbers[i] + even_numbers[i])

11
7
11
15
11

In [34]:
temperature = 35

if temperature > 25:
    print(f"{temperature} degree celcius is hot!")
else:
    print(f"{temperature} degree celcius is not hot!")

35 degree celcius is hot!

In [37]:
temperatures = [0, 28, 12, 17, 30]

# Loop over each temperature
# If the temperature is greater than 25, print "...is hot"
for temperature in temperatures:
    if temperature > 25:
        print(f"{temperature} is hot")
    else:
        print(f"{temperature} is not hot")

0 is not hot
28 is hot
12 is not hot
17 is not hot
30 is hot

In [42]:
def celsius_to_newton(temp_celsius):
    return temp_celsius * 0.33
    print (temp_celcius)